<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @program.user_id %>
</p>

<p>
  <strong>Show:</strong>
  <%= @program.show_id %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @program.favorite %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
