<h1><%= @show.name %></h1>

<% if !@show.genres.empty? %>
  <% @show.genres.each do |genre| %>
    <%= genre.name %> |
  <% end %>
<% end %>

<h3><%= @show.air_date %> | <%= @show.air_time %> pm</h3>

<br>

<h3>Description: </h3>
<p><%= @show.description %></p>

<br>

<p><%= link_to "Edit Show", edit_show_path(@show) if signed_in? %></p>
<p><%= link_to "Delete Show", show_path(@show), method: :delete if signed_in? %></p>
<p><%= link_to "Add to My Shows", add_show_path(@show) if signed_in? %></p>
<p><%= link_to "Back To All Shows", chillflix_path %> </p>
