<h1><%= @show.name %> </h1>

<% if !@show.genres.empty? %>
  <% @show.genres.each do |genre| %>
    <%= genre.name %> |
  <% end %>
<% end %>

<h3><%= @show.air_date %> | <%= @show.air_time %> pm</h3>

<br>

<h3>Description: </h3>
<p><%= @show.description %></p>

<br>
<div class="reviews">

  <h3>Reviews: </h3>
  <ul>
    <% if @show.reviews.empty? %>
      <p>No Reviews</p>
    <% else %>
      <% @show.reviews.each do |review| %>
          <% if review.content %>
            <li><%= review.content %>
            <br>
            -  <%= review.username %></li>
          <% end %>
      <% end %>
    <% end %>
    <div class="more_reviews">

    </div>
  </ul>
</div>

<br>

  <%= form_for(@review) do |f| %>
  <%= f.hidden_field :show_id, :value => @show.id %>

    <p>Add a Review: </p>
      <%= f.text_area :content %>
    <p>Username: </p>
      <%= f.text_field :username %>
      <br>
    <%= f.submit "Add Review" %>
    <% end %>

    <br>

    <% if @program %>
      <%= form_for(@program, url: program_path(@program)) do |f| %>
        <p>Add to Favorites:
          <%= f.check_box :favorite,{}%>
        </p>
        <%= f.hidden_field :show_id, :value => @show.id %>
            <%= f.submit "Add to Favorite" %>
        <% end %>
    <% end %>
      <br>

<p><%= link_to "Edit Show", edit_show_path(@show) if params[:user_id] && params[:id] %></p>
<p><%= link_to "Delete Show", show_path(@show), method: :delete if params[:user_id] && params[:id] %></p>

<% if signed_in? && !Program.find_by(user_id: current_user.id, show_id: @show.id) %>
  <p><%= link_to "Add to My Shows", add_show_path(@show)  %></p>
<% end %>
<p><%= link_to "Back To All Shows", chillflix_path %> </p>
