<!DOCTYPE html>
<html>
  <head>
    <title>ChillFlix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <h1>Chill Flix</h1>


    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

    <%= render 'layouts/header' %>


    <div class="main-page">
      <%= yield %>
    </div>

  </body>

  <script id="index-template" type="text/x-handlebars-template">
    <h3>All Shows: </h3>

    {{#each this}}
    <h3> <a href="/shows/{{id}}">{{name}}</a></h3>
    <p>Airs: {{air_date}} | {{air_time}} pm</p>
    {{/each}}
  </script>

  <script id="show-template" type="text/x-handlebars-template">
    <!-- Prints Show Page -->
    <h1> {{name}} </h1>

    <!-- Prints Show's genres -->
    <p id="p-genre">{{get_genres this.genres}}</p>

    <p>Airs: {{air_date}} | {{air_time}} pm</p>

    <br>
    
    <h3>Description: </h3>
    <p>{{description}}</p>
  </script>
</html>
